{% extends "layout.html" %}
{% block title %}About{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
	<div class='container-fluid'>
 		<div class='row section image_spacer align-items-center justify-content-center' style='background-image: url("https://static.antikytheragroup.com/website/welcome/images/background/section2_89a26c7386bd01dc56d7d6211aa626d28ff9a54b.jpg");'>
			<div class='col-md-6 text-center'>
				<h1 class='display-2 text-center'>Meet the Team.</h1>
			</div>
		</div>
  
        <div class='row section'>
            <div class='col-12'>
		        <div class='row justify-content-center subsection'>
		        	<div class='col-12 col-sm-8'>
		        		<div class='row'>
		        			<div class='col-lg-8 col-xl-7 col-12'>
		        		        <h2>Company Background</h2>
		        				<p class='text-justified lead'>
                					The name Antikythera (Anti - kith - era) refers to the 
                					Antikythera Mechanism, an ancient mechanical device used to 
                					predict astronomical movements. The device was built around 
                					200 BCE, and discovered at the beginning if the 20th 
                					century, off the coast of the island of Antikythera in 
                					Greece. 
                					<br />
                					<br />
                					We take inspiration from this device, as it required 
                					meticulous construction, and represented very forward 
                					thinking for its time.  
                					<br />
                					<br />
                					Antikythera is an Atlanta based consulting firm with a 
                					focus on data analytics and machine learning. Antikythera 
                					was founded in 2017 with the goal of developing high 
                					performance data architecture solutions, applying machine
                					learning techniques to emerging business problems, and
                					conducting novel machine learning research. 
		        				</p>
		        			</div>
		        			<div class='col-lg-4 col-xl-5 d-none d-lg-block'>
		        				<img class='img-fluid' src='https://placeholdit.imgix.net/~text?txtsize=33&txt=1:1&w=800&h=800'></img>
		        			</div>
		        		</div>
                    </div>
                </div>
		        <div class='row justify-content-center subsection'>
		        	<div class='col-12 col-sm-8'>
		        		<div class='row'>
		        			<div class='col-lg-4 col-xl-5 d-none d-lg-block'>
		        				<img class='img-fluid' src='https://placeholdit.imgix.net/~text?txtsize=33&txt=1:1&w=800&h=800'></img>
		        			</div>
		        			<div class='col-lg-8 col-xl-7 col-12'>
		        		        <h2>Our Team</h2>
		        				<p class='text-justify lead text-danger'>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    Ut tincidunt arcu dui, efficitur tempor nisl feugiat ac. 
                                    Maecenas vitae mauris tellus. 
                                    Etiam nec nunc facilisis, suscipit libero eget, rhoncus turpis. 
                                    Mauris egestas consectetur diam. Donec in vehicula lorem. 
                                    Donec aliquam vitae ipsum eget tempus. Phasellus nec rhoncus ipsum. 
                                    Suspendisse posuere, lectus sit amet aliquam mollis, nunc nulla vulputate sem, vel suscipit orci nisl elementum lacus.
		        				</p>
		        			</div>
		        		</div>
                    </div>
                </div>
		        <div class='row justify-content-center subsection'>
		        	<div class='col-12 col-lg-8'>
		        		<div class='row'>
		        			<div class='col-12'>
		        		        <h2>Founding Partners</h2>
		        			</div>
         
                            <div class='col-12 col-lg-4'>
                                <div class='row justify-content-center'>
                                    <div class='col-8 col-sm-4 col-lg-12'>
		        				        <img class='img-fluid rounded-circle p-3' src='/static/images/headshots/kevin.jpg'></img>
                                    </div>
                                    <div class='col-12 col-sm-8 col-lg-12'>
                                        <p class='lead'>Kevin Flansburg</p>
   		        				        <p class='text-danger'>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                            Ut tincidunt arcu dui, efficitur tempor nisl feugiat ac. 
                                            Maecenas vitae mauris tellus. 
                                            Etiam nec nunc facilisis, suscipit libero eget, rhoncus turpis. 
                                            Mauris egestas consectetur diam. Donec in vehicula lorem. 
                                            Donec aliquam vitae ipsum eget tempus. Phasellus nec rhoncus ipsum. 
                                            Suspendisse posuere, lectus sit amet aliquam mollis, nunc nulla vulputate sem, vel suscipit orci nisl elementum lacus.
		        				        </p>
                                    </div>
                                </div>
                            </div>
                            <div class='col-12 col-lg-4'>
                                <div class='row justify-content-center'>
                                    <div class='col-8 col-sm-4 col-lg-12'>
		        				        <img class='img-fluid rounded-circle p-3' src='/static/images/headshots/josh.png'></img>
                                    </div>
                                    <div class='col-12 col-sm-8 col-lg-12'>
                                        <p class='lead'>Joshua Howard</p>
   		        				        <p class='text-danger'>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                            Ut tincidunt arcu dui, efficitur tempor nisl feugiat ac. 
                                            Maecenas vitae mauris tellus. 
                                            Etiam nec nunc facilisis, suscipit libero eget, rhoncus turpis. 
                                            Mauris egestas consectetur diam. Donec in vehicula lorem. 
                                            Donec aliquam vitae ipsum eget tempus. Phasellus nec rhoncus ipsum. 
                                            Suspendisse posuere, lectus sit amet aliquam mollis, nunc nulla vulputate sem, vel suscipit orci nisl elementum lacus.
		        				        </p>
                                    </div>
                                </div>
                            </div>
                            <div class='col-12 col-lg-4'>
                                <div class='row justify-content-center'>
                                    <div class='col-8 col-sm-4 col-lg-12'>
		        				        <img class='img-fluid rounded-circle p-3' src='/static/images/headshots/kevin.jpg'></img>
                                    </div>
                                    <div class='col-12 col-sm-8 col-lg-12'>
                                        <p class='lead'>Sterett Seckman</p>
   		        				        <p class='text-danger'>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                            Ut tincidunt arcu dui, efficitur tempor nisl feugiat ac. 
                                            Maecenas vitae mauris tellus. 
                                            Etiam nec nunc facilisis, suscipit libero eget, rhoncus turpis. 
                                            Mauris egestas consectetur diam. Donec in vehicula lorem. 
                                            Donec aliquam vitae ipsum eget tempus. Phasellus nec rhoncus ipsum. 
                                            Suspendisse posuere, lectus sit amet aliquam mollis, nunc nulla vulputate sem, vel suscipit orci nisl elementum lacus.
		        				        </p>
                                    </div>
                                </div>
                            </div>
		        		</div>
                    </div>
                </div>

            </div>
        </div>
	</div>
{% endblock %}
