{% extends "layout.html" %}
{% block title %}Data Exploration{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
	<div class='container-fluid'>
		<div class="row">
			<div class="col-md-12">
            	<div class="page-header">
					<h1 class='text-center' style='font-size:48px;'>Data Exploration</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="row">
					<div class="col-md-12">
            			<p class="text-justify">
							When faced with a large set of complex data, it 
							can be very difficult to determine what questions
							can be answered. We offer our guidance to conduct
							this important initial exploration and identify
							what information is captured in the data set. 
						</p>
					</div>
				</div>

         		<div class="page-header">
					<h2>Understanding Your Data</h2>
				</div>
 				<div class="row">
					<div class="col-md-7">
            			<p class="text-justify">
							New data sets can be very opaque. We can explore 
							the data, with an understanding of your business
							needs, and shed some light on what information 
							the data set can yield. This kind of initial 
							exploration can pay huge dividends during later 
							analysis. 
						</p>
					</div>
					<div class="col-md-5">
						<img class="img-responsive img-body" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=1:1&w=800&h=800"></img>
					</div>
				</div>
 
         		<div class="page-header">
					<h2>Identifying Business Insights</h2>
				</div>
 				<div class="row">
					<div class="col-md-5">
						<img class="img-responsive img-body" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=1:1&w=800&h=800"></img>
					</div>

					<div class="col-md-7">
            			<p class="text-justify">
							It can be difficult to identify the most useful
							questions to ask about the data. This requires
							an understanding of business needs, the data set
							being used, as well as analysis techniques. We
							can work with you to identify the most fruitful
							areas for analysis, to provide the best return 
							for your investment. 
						</p>
					</div>
				</div>
 

         		<div class="page-header">
					<h2>Answering Specific Questions</h2>
				</div>
 				<div class="row">

					<div class="col-md-7">
            			<p class="text-justify">
							Sometimes you will have specific questions that
							need to be answered. We can leverage our experience
							in statistical analysis to provide these important
							answers. 
						</p>
					</div>
					<div class="col-md-5">
						<img class="img-responsive img-body" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=1:1&w=800&h=800"></img>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
