{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}

	<style>
		a.anchor {
			display: block;
			position: relative;
			top: -100px;
			visibility: hidden;
		}
		.typed-cursor{
			opacity: 1;
			-webkit-animation: blink 0.7s infinite;
			-moz-animation: blink 0.7s infinite;
			animation: blink 0.7s infinite;
		}
		@keyframes blink{
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}
		@-webkit-keyframes blink{
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}
		@-moz-keyframes blink{
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}
	</style>

{% endblock %}

{% block content %}
	<div class='container-fluid'>
		<div class='row section image_spacer align-items-center justify-content-center' style='background-image: url("https://static.antikytheragroup.com/website/welcome/images/background/section1_b0b834ad539824f2c0758206e7f81a94d0295591.jpg");'>
			<div class='col-md-6 text-center'>
				<h1 style='color: white;' class='text-center display-4'><span id="prompt"></span></h1>
				<h1 style='margin-bottom:30vh;' class='display-2 text-center'>Delivered.</h1>
	        	<a class='btn btn-primary' href="mailto: info@antikytheragroup.com">Make An Inquiry</a>
			</div>
		</div>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.6/typed.min.js"></script>
		<script>
			$(function(){
                var options = {
					strings: ["Project Feasibility", "Product Prototyping", "Data Ingestion", "Analytics", "Machine Learning"],
					typeSpeed: 50
                };
                var typed = new Typed("#prompt", options);
			});
		</script>

        <div class='row section'>
            <div class='col-12'>
		        <a class='anchor' name='services'></a>
		        <div class='row'>
		        	<div class='col-12'>
		        	    <h1 class='display-3 text-center'>Services</h1>
                        <hr>
		        	</div>
                </div>
		        <div class='row justify-content-center subsection'>
		        	<div class='col-12 col-sm-8'>
		        		<div class='row'>
		        			<div class='col-lg-8 col-xl-7 col-12'>
		        		        <h2>Data Ingestion and Management</h2>
		        				<p class='text-justified lead'>
		        					Most data sets begin life in a raw format. In order to leverage this data 
		        					at scale, it must be migrated to solutions which are able to rapidly answer
		        					the questions that you want to ask. We can lend our experience to
		        					architect a solution that is tailor made for your data set and analytics needs. 
		        				</p>
		        			</div>
		        			<div class='col-lg-4 col-xl-5 d-none d-lg-block'>
		        				<img class='img-fluid' src='https://static.antikytheragroup.com/website/welcome/images/detail/elephant_051144dcedb0d0fab05abc48b402083be348d823.jpg'></img>
		        			</div>
		        		</div>
                    </div>
                </div>
		        <div class='row justify-content-center subsection'>
		        	<div class='col-12 col-sm-8'>
		        		<div class='row'>
		        			<div class='col-lg-4 col-xl-5 d-none d-lg-block'>
		        				<img class='img-fluid' src='https://static.antikytheragroup.com/website/welcome/images/detail/exploration_5db3a421bd895f3a47e16e4a508a02620f139a38.jpg'></img>
		        			</div>
		        			<div class='col-lg-8 col-xl-7 col-12'>
		        		        <h2>Data Exploration and Analytics</h2>
		        				<p class='lead text-justify'>
		        					It is important to get a sense of what information a new data set may provide. 
		        					We dive down into the data, identify its strengths and weaknesses, and suggest 
		        					promising avenues of inquiry.
		        				</p>
		        				<p class='lead text-justify'>
		        					You may wish to answer specific questions using your data. 
		        					We can provide rigorous answers with confidence bounds.
		        				</p>
		        			</div>
		        		</div>
                    </div>
                </div>
		        <div class='row justify-content-center subsection'>
		        	<div class='col-12 col-sm-8'>
		        		<div class='row'>
		        			<div class='col-lg-8 col-xl-7 col-12'>
		        		        <h2>Machine Learning</h2>
		        				<p class='lead text-justify'>
		        					We go beyond statistical analysis to construct advanced models of your data.
		        					These models can speed up decision making by classifying or clustering data points.
		        					Our team can propose model architecture, perform training, 
		        					and deploy the solution to where it matters the most.
		        				</p>
		        			</div>
		        			<div class='col-lg-4 col-xl-5 d-none d-lg-block'>
		        				<img class='img-fluid' src='https://placeholdit.imgix.net/~text?txtsize=33&txt=1:1&w=800&h=800'></img>
		        			</div>
		        		</div>
                    </div>
                </div>

            </div>
        </div>
	</div>
{% endblock %}
