{% extends "layout.html" %}
{% block title %}Data Ingestion{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
	<div class='container-fluid'>
		<div class="row">
			<div class="col-md-12">
            	<div class="page-header">
					<h1 class='text-center' style='font-size:48px;'>Data Ingestion</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="row">
					<div class="col-md-12">
            			<p class="text-justify">
							Your data is central to any business intelligence
							that you act on. It is therefore crucial that your
							data can be quickly queried to answer the questions
							that you want to ask. Here are some of the key 
							considerations that we can help with when it comes
							to maintaining a high-quality data set. 
						</p>
					</div>
				</div>

         		<div class="page-header">
					<h2>Cleaning And Filtering</h2>
				</div>
 				<div class="row">
					<div class="col-md-7">
            			<p class="text-justify">
							No data is collected perfectly. We can offer our
							expertise to clean up your data in the following
							ways:
							<ul>
								<li>Outlier detection and identification of noise.</li>
								<li>Mitigating and removing noise.</li>
								<li>Record deduplication.</li>
								<li>Making data points uniform.</li>
							</ul>
						</p>
					</div>
					<div class="col-md-5">
						<img class="img-responsive img-body" src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Kaffeefilter.jpg"></img>
					</div>
				</div>
 
         		<div class="page-header">
					<h2>Schema</h2>
				</div>
 				<div class="row">
					<div class="col-md-5">
						<img class="img-responsive img-body" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=1:1&w=800&h=800"></img>
					</div>

					<div class="col-md-7">
            			<p class="text-justify">
							Selecting a schema to use for your data may be one
							of the most important steps when ingesting data. 
							The schema can impact disk space consumption, 
							import performance, query performance, and the
							level of detail that is retained from the raw data.
							<br />
							<br />
							We can help select a schema that matches your data
							and querying needs. Whether your data is kilobytes
							or petabytes, time-series or graphical, streaming
							or static, we can engineer a high performance 
							solution.  	
						</p>
					</div>
				</div>
 

         		<div class="page-header">
					<h2>Redundancy, Availability, and Security</h2>
				</div>
 				<div class="row">

					<div class="col-md-7">
            			<p class="text-justify">
							All modern data storage solutions should strive
							to satisfy the requirements of redundancy, high
							availability, and security. Redundancy ensures
							that disk failures, or even natural disasters, do
							not result in data loss. High availability 
							solutions make your data available at all times,
							even during major service outages. Security best
							practices protect your data from theft. 

							<br />
							<br />
							We can offer our experience in cloud architecture
							design and computer security to offer data 
							storage solutions which meet these important 
							requirements. 
							
						</p>
					</div>
					<div class="col-md-5">
						<img class="img-responsive img-body" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=1:1&w=800&h=800"></img>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
