{% extends "layout.html" %}
{% block title %}Machine Learning{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
	<div class='container-fluid'>
		<div class="row">
			<div class="col-md-12">
            	<div class="page-header">
					<h1 class='text-center' style='font-size:48px;'>Machine Learning</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="row">
					<div class="col-md-12">
            			<p class="text-justify">
							Machine learning fits statistical models on data
							to accomplish many useful tasks. We love to apply
							our passion for machine learning and explore ways
							in which these models can work for you. 
						</p>
					</div>
				</div>

         		<div class="page-header">
					<h2>Clustering</h2>
				</div>
 				<div class="row">
					<div class="col-md-7">
            			<p class="text-justify">
							Clustering refers to techniques which identify 
							closely related groups of samples in the data. 
							This can be extremely useful for identifying
							large trends in the data. For example, images of
							handwritten numbers can be seen to cluster by
							number. 
						</p>
					</div>
					<div class="col-md-5">
						<img class="img-responsive img-body" src="https://c1.staticflickr.com/1/228/31445410402_e355c988a2_b.jpg"></img>
					</div>
				</div>
 
	      		<div class="page-header">
					<h2>Classification</h2>
				</div>
 				<div class="row">
					<div class="col-md-5">
						<img class="img-responsive img-body" src="https://upload.wikimedia.org/wikipedia/commons/4/41/Iris_versicolor_3.jpg"></img>
					</div>

					<div class="col-md-7">
            			<p class="text-justify">
							Classification learns to assign a label to never 
							before seen data points based on training data. 
							This can be useful for identifying that a data
							point belongs to one of several known categories. 
							For example, classification techniques can be used
							to determine the species of an Iris flower with
							high accuracy, using only a few measurements. 
						</p>
					</div>
				</div>

	      		<div class="page-header">
					<h2>Prediction</h2>
				</div>
 				<div class="row">
					<div class="col-md-7">
            			<p class="text-justify">
							Prediction can involve several different tasks. 
							You may want to predict trends in time-series data, 
							predict how a user will like a new product based on
							previous preferences, or predict when the next
							user interaction with your platform will occur. 		
						</p>
					</div>
					<div class="col-md-5">
						<img class="img-responsive img-body" src="https://upload.wikimedia.org/wikipedia/commons/0/0c/FoggDam-NT.jpg"></img>
					</div>
				</div>

	      		<div class="page-header">
					<h2>Deep Learning</h2>
				</div>
 				<div class="row">
					<div class="col-md-5">
						<img class="img-responsive img-body" src="https://raw.githubusercontent.com/fzliu/style-transfer/master/images/results/starry_johannesburg.jpg"></img>
					</div>

					<div class="col-md-7">
            			<p class="text-justify">
							Deep learning is a broad category of machine 
							learning techniques that involves applying many 
							layers of learned transformations to the input to 
							produce highly expressive models. 
							
							<br />
							<br />
				
							Deep learning can be used for a wide variety of 
							tasks, including generating English sentences given 
							a thought vector, classifying and segmenting 
							objects in images, and reproducing an image in
							the style of a particular painter. 
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
