{% extends "layout.html" %}
{% block title %}Machine Learning{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
	<div class='container-fluid'>
		<div class="row">
			<div class="col-md-12">
            	<div class="page-header">
					<h1 class='text-center' style='font-size:48px;'>Machine Learning</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="row">
					<div class="col-md-12">
            			<p class="text-justify">
							Machine learning fits statistical models on data
							to accomplish many useful tasks. There are so many
							ways in which machine learning techniques been 
							applied to solve common business problems, but it 
							can be very tricky to identify what is feasible. We 
							love to apply our passion for machine learning and 
							explore ways in which these models can work for 
							you. 
						</p>
					</div>
				</div>

         		<div class="page-header">
					<h2>Factory Automation</h2>
				</div>
 				<div class="row">
					<div class="col-md-7">
            			<p class="text-justify">
							Techniques from computer vision can be used to 
							identify product quality on an assembly line. 
							This kind of sorting is not always easy to do 
							mechanically, and manual sorting can be more 
							expensive and less accurate than a well trained 
							model.
						</p>
					</div>
					<div class="col-md-5">
						<img class="img-responsive img-body" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=1:1&w=800&h=800"></img>
					</div>
				</div>
 
         		<div class="page-header">
					<h2>Product Suggestions</h2>
				</div>
 				<div class="row">
					<div class="col-md-5">
						<img class="img-responsive img-body" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=1:1&w=800&h=800"></img>
					</div>

					<div class="col-md-7">
            			<p class="text-justify">
							Machine learning has been used with great success
							to predict users which may like new products based
							on past behavior. This can be a great tool for
							targeted marketing, or simply suggesting related
							products to users at checkout. 
						</p>
					</div>
				</div>

         		<div class="page-header">
					<h2>Community Analysis</h2>
				</div>
 				<div class="row">

					<div class="col-md-7">
            			<p class="text-justify">
							By looking at relationships in large communities, 
							machine learning can identify major influencers, 
							subcommunities, and many other useful metrics for
							targeted advertising and market research.
						</p>
					</div>
					<div class="col-md-5">
						<img class="img-responsive img-body" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=1:1&w=800&h=800"></img>
					</div>

				</div>


			</div>
		</div>
	</div>
{% endblock %}
